.main  {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 1, 1, .5);
  display: flex;
}

.section {
  margin: auto;
  padding: 8px;
  background: white;
  border: 1px solid #d0d4e4;
  border-radius: 4px;
  min-width: 400px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-weight: 400;
}

.close {
  border: 0;
  background: transparent;
  cursor: pointer;
}